<!-- calculate toc first to adjust content width -->
<% var toc_ = toc(page.content, {
        class: 'post-toc',
        list_number: theme.toc.linenumber || false,
        style: 'max-height:80vh; overflow-y:scroll;'
}) %>

<!-- Post TOC -->
<% if( ((page.toc === true) || (is_post() && page.toc !== false)) && theme.toc.sidenav == false ) { %>
  <%- partial('_partial/toc_button', {toc_obj: toc_}) %>
<% } %>

<!-- Layouts -->
<% if(page.layout === 'tags') { %>
    <!-- Tags Cloud -->
    <%- partial('_widget/page-tagcloud') %>

<% } else if(page.layout === 'links') { %>
    <!-- Single Links Page -->
    <%- partial('_widget/page-links') %>

<% } else if(page.layout === 'timeline') { %>
    <!-- Single Timeline Page -->
    <%- partial('_widget/page-timeline') %>

<% } else { %>
    <!-- Post Module -->
    <div class="material-post_container">

        <div class="material-post mdl-grid">
          <% if(toc_.length > 0 && theme.toc.sidenav == true) { %>
            <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--11-col">
          <% } else { %>
            <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
          <% } %>

                <!-- Post Header(Thumbnail & Title) -->
                <%- partial('_partial/post-header') %>

                <% if(page.hide_post_info !== true && theme.scheme === 'Paradox') { %>
                    <!-- Paradox Post Info -->
                    <%- partial('_partial/Paradox-post-info') %>
                <% } %>

                <!-- Post Content -->
                <%- partial('_partial/post-content') %>

                <% if(page.hide_post_info !== true && theme.scheme === 'Isolation') { %>
                    <!-- Paradox Post Info -->
                    <%- partial('_partial/Isolation-post-info') %>
                <% } %>

                <!-- Post Comments -->
                <% if(page.comment !== false) { %>
                    <%- partial('_partial/comment') %>
                <% } %>
            </div>

            <!-- sidenav toc -->
            <% if( ((page.toc === true) || (is_post() && page.toc !== false)) && theme.toc.sidenav == true ) { %>
                <%- partial('_partial/toc_sidenav', {toc_obj: toc_}) %>
            <% } %>

            <!-- Post Prev & Next Nav -->
            <%- partial('_partial/post-nav') %>
        </div>
    </div>
<% } %>
